<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>在线客服 - 用户端</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/client.css">
    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="./css/index.css?rev=ac6ed5b7b7b35822066a7c1ff4367280">
</head>

<body>
    <header class="">
        <div class="container ">
            诚品鲜-在线客服聊天系统 ( 用户端 )
        </div>
    </header>

    <div class="container " style="">
        <div class="chat-info  col-md-8 block" id='app' style="display:block;float:none;;line-height: 40px;">
            <p class="glyphicon glyphicon-user"><span class="" style="padding:2px 10px;height: 30px;text-indent: rem;">UID: {{frist_http.from}}  SID: {{frist_http.sid}}</span></p>
        </div>
        <div class="chat col-lg-8 top center charbox " style="margin: 0 auto;display: block;float:none;">
            <div class="chat-content" style="padding-bottom: 0px;">

            </div>
            <strong id="tip" style="margin-left: 50%;"></strong>
            <div class="chat-tools" style="width: 100%;">
                <button class="btn btn-primary glyphicon glyphicon-font  "title="请选择出生年月日"  startyear="华文" default-val="简体"  id="kinerDatePickerInput1" > </button>
                <button class="btn btn-danger glyphicon glyphicon-picture" onclick='getimage()'></button>
                <button class="btn btn-success glyphicon glyphicon-earphone"><a class="tel" href="tel:0755-88888888"></a></button>
                <button  class="btn btn-info glyphicon glyphicon-phone"><a class="tel" href="tel:13128755602"></a></button>
                <button class="btn btn-warning glyphicon glyphicon-warning-sign"></button>
                <button class="btn  btn-default glyphicon glyphicon-none">工具栏</button>
            </div>

            <div class="chat-input">
                <div class="chat-input-content">
                    <textarea class="form-control" id="message"@keyup.enter.native="send(222)"  v-keyup:13='sned(333)' cols="30" rows="4"></textarea>
                </div>
                <div class="chat-input-btn">
                    <button class="btn btn-success" id='sendMessage'>发送(Shfit + Enter)</button>
                </div>
            </div>


        </div>
        <section id="pushbutton"></section>
    </div>




    <script src="js/jquery-1.12.4.min.js"></script>
    <script src="/chat/socket.io.js"></script>
    <script src="js/js.cookie.min.js"></script>
    <script src='js/vue.js'></script>
    <script src="js/client.js"></script>
    <script src="js/flexible.js"></script>



    <div class="container app" >
        <div class="kinerDatePickerInput "title="请选择出生年月日"  startyear="1950" default-val="1995-1-1"></div>
    </div>


    <script src="/js/libs/flexible_css.debug.js"></script>
    <script src="/js/libs/mobileFix.js"></script>
    <script src="/js/libs/swiper.min.js"></script>
    <script src="/js/libs/kinerDatePicker.js"></script>





    <script>
    </script>

    <script>
        
    </script>



</body>

</html>